extends layout

block content
  form(onsubmit="search()")
    input(type="text", name="queryInput")
    input(type="submit", value="Search")
  div#query-data
  script.
    var targetDOM = document.getElementById('query-data') 
    function search() {
      event.preventDefault()
      axios
        .get(`/search?qt=${event.target.queryInput.value}`)
        .then(function(res) { targetDOM.innerText = JSON.stringify(res.data) })
        .catch(function(error) { targetDOM.innerText = 'Something went wrong, Please verify your input or contact admin.' })
    }

